#LoginPage {
  height: 100%;
}

#LoginPage main {
  min-height: calc(100% - 100px);
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 722px) {
  /* LoginBlock */
  #LoginPage main {
    flex-direction: column;
  }
  #LoginPage main #LoginCollum {
    width: 100%;
  }
  #LoginCollum .form-box form{
    align-items: center;
  }
  .form-box form button {
    margin-bottom: 125px;
  }

  /* RegistrationBlock */
  #LoginPage main #RegistrationArtCollum {
    width: 100%;
  }
}
