.App {
  text-align: center;
  background-color: #fff;
  color: #7E7E7E;
  font-size: 20px;
}
.page {
  min-height: 100%;
  min-width: 100%;
}
button {
  background-color: #6D63F8;
  
  border: 0;
  border-radius: 6px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  font-size: 41px; /* 30px pra mobile */
  max-width: 100%;
  font-weight: bold;
}
input {
  background-color: #D9D9D9;
  border: 0;
  border-radius: 6px;
}
